<div class="float-right	d-none d-md-block">
  <a class="twitter-timeline" data-height="600" href="https://twitter.com/hockamneco?ref_src=twsrc%5Etfw">Tweets by hockamneco</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
<div class="container" >
  <%= render partial: 'news/news', locals: { news_list: @news_list } %>
  <div class="row" >
    <div class="col-md-8 mx-auto my-auto">
      <%= paginate @news_list %>
    </div>
  </div>
  <div class="d-lg-none">
  <a class="twitter-timeline" data-height="600" href="https://twitter.com/hockamneco?ref_src=twsrc%5Etfw">Tweets by hockamneco</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>
