<div class="container text-center my-3">
	<div class="row mx-auto my-auto">
		<div id="carousel-slider" class="carousel slide w-100 h-auto" data-ride="carousel">
			<div class="carousel-inner w-100 h-auto" role="listbox">
				<div class="carousel-item active">
					<div class="col-md-4">
						<div class="card card-body">
							<img class="img-fluid" src="http://placehold.it/380?text=1">
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="col-md-4">
						<div class="card card-body">
							<img class="img-fluid" src="http://placehold.it/380?text=2">
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="col-md-4">
						<div class="card card-body">
							<img class="img-fluid" src="http://placehold.it/380?text=3">
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="col-md-4">
						<div class="card card-body">
							<img class="img-fluid" src="http://placehold.it/380?text=4">
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="col-md-4">
						<div class="card card-body">
							<img class="img-fluid" src="http://placehold.it/380?text=5">
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="col-md-4">
						<div class="card card-body">
							<img class="img-fluid" src="http://placehold.it/380?text=6">
						</div>
					</div>
				</div>
			</div>
			<a class="carousel-control-prev w-auto" href="#carousel-slider" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next w-auto" href="#carousel-slider" role="button" data-slide="next">
				<span class="carousel-control-next-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
</div>
