<div class="container">
	<div id="carousel-card" class="carousel slide">
		<ol class="carousel-indicators">
			<li data-target="#carousel-card" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-card" data-slide-to="1"></li>
			<li data-target="#carousel-card" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner">
			<div class="carousel-item px-5 active">
				<div class="row">
					<div class="col-4">
						<div class="card">
							<img class="card-img-top" src="https://placehold.it/400x300" alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title">Card title</h5>
							</div>
						</div>
					</div>
					<div class="col-4">
						<div class="card">
							<img class="card-img-top" src="https://placehold.it/400x300" alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title">Card title</h5>
							</div>
						</div>
					</div>
					<div class="col-4">
						<div class="card">
							<img class="card-img-top" src="https://placehold.it/400x300" alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title">Card title</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="carousel-item px-5">
				<!-- 省略 -->
			</div>
			<div class="carousel-item px-5">
				<!-- 省略 -->
			</div>
		</div>
		<a class="carousel-control-prev" href="#carousel-card" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carousel-card" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
</div>
<style>
.carousel-control-next, .carousel-control-prev {
	width: 5%;
	background-color: #000;
}
</style>
