<div>
  <%= render partial: 'section_title', locals: { title: 'Goods', sub_title: '素敵なhockamたちです' } %>
  <%= render partial: 'goods' %>
  <%= render partial: 'section_title', locals: { title: 'News', sub_title: '作家の近況です' } %>
  <%= render partial: 'news' %>
</div>
