@import '~bootstrap/scss/bootstrap';
@import './goods';
@import './pages';

.drop-down-logo {
  width: 20px;
  height: 20px;
}

a {
  color: inherit;
}

.pagination {
  justify-content: center;
  clear: both;
}
