<h1>Goods#minne</h1>
<% @minne_goods.each_slice(5) do |a, b, c, d, e| %> 
	<div class="square bg", style="background-image: url('<%= a.middle_image_url =%>');">
		<div class="content">
			<div class="table">
				<div class="table-cell">
					And again
				</div>
			</div>
		</div>
	</div>
<% end %> 
