<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <% @minne_goods.each do |a| %> 
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <!-- <div class="card-img-top", style="background-image: url('<%= a.list_image_url =%>');"></div> -->
            <div class="wrapper">
              <img class="card-img-top img-fluid" src="<%= a.list_image_url =%>">
            </div>
            <div class="card-body">
              <p class="cart-text"> <%= a.name =%> </p>
            </div>
          </div>
        </div>
      <% end %> 
    </div>
    <div style='clear:left;'> 
      <%= paginate @minne_goods %>
    </div>
  </div>
</div>
