<h1>Goods#minne</h1>
<% @minne_goods.each do |a| %> 
  <div class="square">
    <div class="table">
      <div class="table-cell">
        <div class="bg-image", style="background-image: url('<%= a.middle_image_url =%>');"></div>
        <p class="goods-name"> <%= a.name =%> </p>
      </div>
    </div>
  </div>
<% end %> 
