<div class="container">
  <h2>お問い合わせ受け付けました</h2>
  <div class="col-sm-12">
    <p>
    お問い合わせ内容を確認しだい<br />
    入力していただいたメールアドレスに宛にお返事します。<br />
    状況により数日かかってしまうことがあります。<br />
    ご了承ください。<br />
    </p>
  </div>
</div>

