/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.square {
	float: left;
	position: relative;
	width: 33%;
	padding-bottom: 33%; /* = width for a 1: 1 aspect ratio */
	margin: 0.1%;
	overflow: hidden;
}
.bg-image {
	width: 95%;
	height: 95%; 
	background-size: contain;
}

.table {
	position: absolute;
	display: table;
	height: 100%;
	width: 100%;
}
.table-cell {
	display: table-cell;
	vertical-align: bottom;
	height: 100%;
	width: 100%;
}
.goods-name {
  font-weight: 600;
  margin-top: 8px;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}
